* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.47;
}

.main-container {
    display: flex;
}

.intro-bg {
    width: 30%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.intro-txt {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 200px;
}

.intro-txt h1, .card h1 {
    font-weight: 500;
    font-size: 2rem;
}

.intro-txt h3, .card h3 {
    font-weight: 500;
}

.intro-txt p {
    font-size: 1rem;
    margin: 16px 0 32px;
    opacity: 0.85;
}

.intro-txt .btn {
    margin-top: 1rem;
}

.social-icon {
    display: inline-block;
    margin-right: 16px;
}

.social-icon img {
    width: 24px;
}

.btn {
    padding: 8px 16px;
    border: 0;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-primary {
    background: #4079c5;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:hover {
    background: #376cb2;
    color: #fff;
}

@media (orientation: portrait) {
    .intro-bg {
        display: none;
    }
    .intro-txt {
        width: 100%;
        padding: 40px;
        align-items: flex-start;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    background-color: #fff;
    text-align: center;
    font-family: arial;
    margin-right: -150px;
    z-index: 2;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.card-body {
    padding: 20px 20px 30px;
}